html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

kbd{
    background: orange;
    padding: 10px;
}

.navbar{
    border-bottom: 3px solid orange;
    z-index: 1;
    background: white;
    padding: .8rem;
    
    box-shadow: 0px 1px 5px black;
}

.navbar kbd{
    font-size: 24px !important;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link{
    font-size: 1.1em !important;
}

footer{
    position: relative;
    max-height: auto;
    background: #3a3a3a;
    color: white;
    left:0;
    bottom:0;
    width:100%;
}

footer hr{
    border-top: 2px solid #b4b4b4;
    width: 35%;
}

.padding{
    padding-bottom: 2rem;
}

.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

#cover{
    width: 100%;
    height: 500px;
    
    background: url("../image/theatre_2-wallpaper-1920x1080.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    box-shadow: inset 0px 2px 6px black;
}

#cover h2{
    position: relative;
    color: bisque;
    -webkit-text-stroke: 1px #8400a5;
    text-shadow: 0px 0px 6px black;
    font-size: 40px;
    top: 6em;
}

#cover2{
    width: 100%;
    height: 500px;
    
    background: url("../image/theatre-wallpaper-1920x1080.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#cover2 h1{
    position: relative;
    color: bisque;
    text-shadow: 0px 0px 6px black;
    font-size: 40px;
    top: 6em;
}

#placeholder{
    background: #d8d8d8;
    height: 70px;
    padding-top: .5rem;
    box-shadow: 0px -2px 6px black;
    border-top: 3px solid orange;
}

.placeholder2{
    height: 70px;
    background: #d8d8d8;
    margin-bottom: -10px;
}

#info{
    padding-top: 18%;
    padding-bottom: 17.6%;
    background: linear-gradient(rgba(105,105,105,0.7),rgba(105,105,105,0.3)),url("../image/paris_opera-wallpaper-1920x1080.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white !important;
}

#info hr{
    border-top: 2px solid orange;
    width: 55%;
}

#info a{
    color: orangered;
    text-shadow: 0px 0px 5px black;
}

#szolgalt{
    width: 100%;
    height: 500px;
    
    background: url("../image/the_egg_in_beijing-wallpaper-1920x1080.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#szolgalt h1{
    position: relative;
    top: 4em;
    color: orange;
    
    text-shadow: 0px 2px 6px black;
}

#bemutato{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#bemutato h3{
    color: orangered;
}

#bemutato hr{
    width: 80%;
    border-top: 3px solid #b4b4b4;
}

.cim{
    border-bottom: 5px solid orange;
}

.active{
    font-size: 20px;
    color: orangered !important;
    text-shadow: 0px 3px 6px #333;
}

/*Más felületekre*/
@media (max-width: 2000px){
    #info{
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

@media (max-width: 992px){
    #info{
        padding-top: 40%;
        padding-bottom: 40%;
    }
}
@media (max-width: 768px){
    #rendezendo{
        padding: 13px;
    }
    
    #rendezendo kbd{
        padding-bottom: 3px;
        text-align: center;
    }
    
    #info{
        padding-top: 48%;
        padding-bottom: 48%;
    }
    
}
@media (max-width: 576px){
    #placeholder{
        height: auto;
    }
    #info{
        padding-top: 100%;
        padding-bottom: 100%;
    }
    
}